{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 150,
  "plugins": ["1", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindStylesheet": "src/styles.css",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
